# Copiez ce fichier en .env et remplissez avec vos vraies informations.
AWS_ACCESS_KEY_ID=AKIAxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_REGION=eu-central-1

S3_BUCKET_NAME=kaan-colakoglu-data-lake
S3_OBJECT_KEY=raw/orders_data.json
